# **Aula 5**
## **Funções**

In [ ]:
def sum(a, b):
  c = a + b
  return c

In [ ]:
result = sum(5, 7)
print(result)

12

## Exemplo 1: conteudo GC

In [ ]:
def gc_content(dna_sequence):
  dna_sequence_len = len(dna_sequence)
  gc_count = 0
  for base in dna_sequence:
    if base == 'g' or base == 'c':
       gc_count = gc_count + 1
  gc_content = gc_count/dna_sequence_len
  return gc_content

In [ ]:
gc_content('atgagagacttaggg')

0.4666666666666667

In [ ]:
gc_content('atcgcgta')

0.5

## Exemplo 2: transcrição

In [ ]:
def transcribe(dna_sequence):
  rna_sequence = ""
  for base in dna_sequence:
    if base == 't':
      rna_sequence = rna_sequence + 'u'
    else:
       rna_sequence = rna_sequence + base
  return rna_sequence

In [ ]:
# exemplo mais simples do exemplo anterior
def transcribe(dna_sequence):
  rna_sequence = dna_sequence.replace('t','u')
  return rna_sequence

In [ ]:
transcribe('atcgcgta')

'aucgcgua'

## Exemplo 3: tradução

In [ ]:
genetic_code = { 
  'ata':'i', 'atc':'i', 'att':'i', 'atg':'m', 
  'aca':'t', 'acc':'t', 'acg':'t', 'act':'t', 
  'aac':'n', 'aat':'n', 'aaa':'k', 'aag':'k', 
  'agc':'s', 'agt':'s', 'aga':'r', 'agg':'r',
  'cta':'l', 'ctc':'l', 'ctg':'l', 'ctt':'l', 
  'cca':'p', 'ccc':'p', 'ccg':'p', 'cct':'p', 
  'cac':'h', 'cat':'h', 'caa':'q', 'cag':'q', 
  'cga':'r', 'cgc':'r', 'cgg':'r', 'cgt':'r', 
  'gta':'v', 'gtc':'v', 'gtg':'v', 'gtt':'v', 
  'gca':'a', 'gcc':'a', 'gcg':'a', 'gct':'a', 
  'gac':'d', 'gat':'d', 'gaa':'e', 'gag':'e', 
  'gga':'g', 'ggc':'g', 'ggg':'g', 'ggt':'g', 
  'tca':'s', 'tcc':'s', 'tcg':'s', 'tct':'s', 
  'ttc':'f', 'ttt':'f', 'tta':'l', 'ttg':'l', 
  'tac':'y', 'tat':'y', 'taa':'*', 'tag':'*', 
  'tgc':'c', 'tgt':'c', 'tga':'*', 'tgg':'w', 
}


def translate(dna_sequence):
  dna_sequence_len = len(dna_sequence)
  protein_sequence = ""
  for position in range(0, dna_sequence_len, 3):
    codon = dna_sequence[position:position+3]
    #print(codon)
    if len(codon) == 3:
       aminoacid = genetic_code[codon]
       protein_sequence = protein_sequence + aminoacid
  return protein_sequence


translate('atgcccgggtaaaaa')

'mpg*k'

# Programação Orientada a Objetos

In [ ]:
class Sequence:
  dna_sequence = 'atcg'

In [ ]:
sequence_1 = Sequence() 
sequence_1.dna_sequence = 'aatt'

sequence_2 = Sequence() 
sequence_2.dna_sequence = 'aattccgg'

print(sequence_1.dna_sequence)
print(sequence_2.dna_sequence)

aatt
aattccgg

In [ ]:
class Sequence:
  def __init__(self, dna_sequence):
    self.dna_sequence = dna_sequence

  def transcribe(self):
    return transcribe(self.dna_sequence)

  def translate(self):
    return translate(self.dna_sequence)

# Implementar um método na classe "Sequence" que compute o conteúdo CG
  def gc_content(self):
    return gc_content(self.dna_sequence)

sequence_3 = Sequence('atgccaa')

print(sequence_3.dna_sequence)
print(sequence_3.transcribe())
print(sequence_3.translate())
print(sequence_3.gc_content())

atgccaa
augccaa
mp
0.42857142857142855