**Exercício Colab: Curso python para bioinformática**

# *exercício introdutório*
## Instalar a biblioteca Pandas
## Importar a biblioteca para o Colab

In [69]:
!pip install pandas

# Manipulação e análise de dados
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

![logo pandas](https://3.bp.blogspot.com/-TaW3lrBvdlE/W6DxT2vAPWI/AAAAAAAAEpI/uvNmmB1xIogPjcjZLtWKMDXK5sFTx_XXQCLcBGAs/s640/pandas.jpg)

In [70]:
#Criar duas variáveis (months e years) para descobrir quantos anos há em 45234 dias, considerando 30 dias em um mês
months = 30 
years = 45234/(months*12)
print(years,"anos")

125.65 anos

In [71]:
#Criar duas variáveis (formula_days e formula_months) contendo uma fórmula para calcular automaticamente quantos dias há em determinado número de anos
def formula_days(year):
    formula_days = year * 360
    return formula_days

def formula_months(year):
    formula_months = year * 12
    return formula_months

In [72]:
# Criar uma tabela com a correspondência entre dias, meses e anos encontrados no exercício anterior, discriminados em coluna
df.columns=["dias", "meses", "anos"]
anos = [2, 3, 4, 5, 6, 7]
for i in anos:
    df.loc[i-2]=[formula_days(i), formula_months(i),i]
df

   dias meses anos
0   720    24    2
1  1080    36    3
2  1440    48    4
3  1800    60    5
4  2160    72    6
5  2520    84    7